<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244931750915-a8n5nn185teu4rejdorbevsotj5dcei4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244931750915-a8n5nn185teu4rejdorbevsotj5dcei4</string>
	<key>API_KEY</key>
	<string>AIzaSyDrlJ6Du1rmLYETTLHrT3EZw4V61H84oEM</string>
	<key>GCM_SENDER_ID</key>
	<string>244931750915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Do</string>
	<key>PROJECT_ID</key>
	<string>music-app-qhbwxg</string>
	<key>STORAGE_BUCKET</key>
	<string>music-app-qhbwxg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244931750915:ios:610d4a1f964b1b4e913236</string>
</dict>
</plist>